<section class="section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title">Edit Reminder</p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <%= link_to 'Reminders', reminders_path, class: 'button' %>
      </div>
    </div>
  </div>
  <%= render partial: 'reminder_form', locals: { reminder: @reminder, slack_channel_list: @slack_channel_list } %>
</section>
