<section class="section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title">Reminders</p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <%= link_to 'New Reminder', new_reminder_path, class: 'button is-link' %>
      </div>
      <div class="level-item">
        <%= link_to 'Logs', remind_logs_path, class: 'button' %>
      </div>
    </div>
  </div>
  <%= render(partial: 'reminder', collection: @reminders, as: :reminder ) %>
</section>
