<% content_for :title do %>
  New Reminder
<% end %>
<section class="section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title">New Reminder</p>
      </div>
    </div>
  </div>
  <%= render partial: 'reminder_form', locals: { reminder: @reminder } %>
</section>
