<% content_for :title do %>
  Reminder Detail
<% end %>
<section class="section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title">Reminder Detail</p>
      </div>
    </div>
  </div>
  <%= render(partial: 'reminder', locals: {reminder: @reminder, show_timestamps: true, show_links: false}) %>
  <div class="level">
    <div class="level-item">
      <div class="buttons">
        <%= link_to 'Edit', edit_reminder_path(@reminder), class: 'button is-link' %>
        <%= link_to 'Test Post', post_message_reminder_path(@reminder),
                    method: :put, remote: true, data: {confirm: "テスト通知をします。よろしいですか？"}, class: 'button is-warning' %>
      </div>
    </div>
  </div>
</section>
