<% content_for :title do %>
  RemindLogs
<% end %>
<%= javascript_pack_tag 'icon_emoji' %>
<section class="section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title">RemindLogs</p>
      </div>
    </div>
  </div>
  <%= render(partial: 'remind_log', collection: @remind_logs, as: :remind_log) %>
  <%= paginate @remind_logs %>
</section>
