<section class="section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title">RemindLogs</p>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <%= link_to 'Reminders', reminders_path, class: 'button' %>
      </div>
    </div>
  </div>
  <%= render(partial: 'remind_log', collection: @remind_logs, as: :remind_log) %>
</section>
