<% content_for :title do %>
  Edit Thread Reminder
<% end %>
<section class="section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title">Edit Thread Reminder</p>
      </div>
    </div>
  </div>
  <%= render partial: 'thread_reminder_form', locals: { reminder: @reminder, thread_reminder: @thread_reminder } %>
</section>
