<% content_for :title do %>
  Users
<% end %>
<section class="section">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p class="title">Users</p>
      </div>
    </div>
  </div>
  <table class="table is-fullwidth is-hoverable">
    <thead>
    <tr>
      <th>id</th>
      <th>ユーザ名</th>
      <th>権限</th>
      <th>登録日時</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td>
          <article class="media">
            <div class="media-content">
              <%= user.name %>
            </div>
          </article>
        </td>
        <td><%= user.role %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>