<!DOCTYPE html>
<html>
<head>
  <title>ReminderBoy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>

<body>
<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to 'ReminderBoy', root_path, style: 'text-decoration: none; font-size: xx-large;', class: "navbar-item" %>
    </div>
  </div>
</nav>
<main>
  <div class="container">
    <%= yield %>
  </div>
</main>
</body>
</html>
